{% extends 'base.html' %}
{% block title %}{{ category.title }} | {{ block.super }}{% endblock %}
{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}
{% block content %}
<div class="col-md-8">
            <h2>{{ title }}</h2>
            {% for i in news %}
                <div class="card mb-3">
                    <div class="card-header">
                        Категория: <a href="{% url 'cat' i.category.pk %}">{{ i.category }}<a>
                    </div>
                    <div class="card-body">
                        <div class="media">
                            <table class="table table-borderless table-light">
                                <tr>
                                    <td>
                                    {% if i.photo %}
                                        <img src="{{ i.photo.url }}" alt="No photo" width="450" class="mr-3" >
                                    {% else %}
                                        <img src="https://picsum.photos/id/237/450/350" alt="No photo" class="mr-3">
                                    {% endif %}
                                    </td>
                                    <td>
                                    <div class="media-body">
                                        <h5 class="card-title">{{ i.title }}</h5>
                                        <p class="card-text">{{ i.content|truncatewords:70 }}</p>
                                        <a href="{{ i.get_absolute_url }}" class="btn btn-primary">Подробнее</a>
                                    </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                        Дата обновления: {{ i.update_at }}
                    </div>
                </div>
            {% endfor %}
        </div>
{% endblock %}
